<!-- pk.html -->
{% extends 'dachuang/base.html' %}
{% block title %}<title> 逄凯 </title>{% endblock %}
{% block functions %}

{% endblock %}
{% block content %}
    <div class="ui segment container">
        <h1 class="ui header">
            Hi,我是逄凯
        </h1>
        <br>
        <h3 class="ui header">
            我是个阳光大男孩
        </h3>
        <br>
        <div class="ui medium rounded image">
            <img src="/static/images/dachuang/boy.jpg">
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}